<!DOCTYPE html>
<html lang="en">
<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>New Message</title>
</head>
<body>
  <h1>Post New Message</h1>
  <form method="POST" action="/new">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="user">
    </div>
    <div class="form-group">
      <label for="text">Message:</label>
      <input type="text" id="text" name="text">
    </div>
    <button type="submit">Submit</button>
 </form>
 <a href="/">View Messages</a>
</body>
</html>